<div class="grid bg-red-900 p-4">
    <div class="col-12 p-1 col-md-4 col-sm-4">
        <div class="grid">
            <ul class="mail-list col-12">
                <li class="flex gap-1">
                    <i class="pi pi-envelope" style="font-size: 13px;color: white;"></i>&nbsp;
                    <a href="#" style="font-size: 14px; color: white;">{{"admission@mitacsc.ac.in"}}</a>&nbsp;
                </li>
                <li class="w-full">
                    <i class="pi pi-phone" style="font-size: 13px; color: white;"></i>&nbsp;
                    <a href="tel:+918055350000" style="font-size: 13px; color: white;">+91 8055350000</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <div class="text-left border-round-sm bg- font-bold">
            <div class="grid nestedgrid mt-2">
                <div class="col-12 sm:col-6 md-flex-row sm-flex-row">
                    <div class="grid">
                        <div class="col-12 sm:col-6 flip animation-duration-1000">
                        <p-card header="Teacher" [style]="headerstyle">
                            <li [style]="{color:'orangered'}">Schedule</li>
                            <li [style]="{color:'orangered'}" >Classroom Update</li>
                            <li [style]="{color:'orangered'}">Resources</li>
                        </p-card>
                        </div>
                        <div class="col-12 sm:col-6 flip animation-duration-1000">
                            <p-card header="Fee" [style]="headerstyle" styleClass="cardPadding">
                                <p-button label="Pay" [style]="{'color':'white',
                                  'background-color':'orangered'}" routerLink="fees"></p-button>
                            </p-card>
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-6">
                    <div class="grid">
                        <div class="col-12 sm:col-6 flip animation-duration-1000">
                            <p-card header="Student" [style]="headerstyle">
                                <li [style]="{color:'orangered'}">Downloads</li>
                                <li [style]="{color:'orangered'}" >Students Club</li> 
                                <li [style]="{color:'orangered'}">Notices</li>
                                
                            </p-card>
                        </div>
                        <div class="col-12 sm:col-6 flip animation-duration-1000">
                            <p-card header="AboutUs" [style]="headerstyle">
                                <li [style]="{color:'orangered'}">Gallery</li>
                                <li [style]="{color:'orangered'}" >Awards</li>
                                <li [style]="{color:'orangered'}">Achievements</li>
                                
                            </p-card>
                        </div>
                    </div>
                </div>
            </div>
            
            
               
                    
        </div>
        
    </div>
</div>
<div class="grids border-x-none">
    <div class="w-full flex justify-content-center">
        <img src="https://mitacsc.ac.in/uploads/1703935639_650191_new%20front%20page-min.jpg"
            class="-translate-x-90 w-13 h-auto sm-bg-cover sm-bg-center">
    </div>
</div>
